/*
 * Copyright (c) 2026 cormoran
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        /omit-if-no-ref/ bhr: bhr {
            compatible = "zmk,behavior-battery-history-request";
            #binding-cells = <0>;
        };
    };
};
